.info-location {
   color: #333333;
   font-size: 12px;
   font-weight: 400;
   line-height: 1.5;

   .coordinates,
   .elevation {
      margin-bottom: 8px;

      strong {
         color: #000000;
         font-weight: 600;
      }
   }

   .elevation {
      margin-bottom: 0;

      .resolution {
         margin-top: 4px;
         color: #888888;
         font-size: 10px;
      }
   }
}
